server:
  port: 8083

spring:
  application:
    name: digital-paper-server-side

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/digitalpaper
          jwk-set-uri: ${spring.security.oauth2.resourceserver.jwt.issuer-uri}/protocol/openid-connect/certs

  datasource:
    url: jdbc:postgresql://localhost:5432/digitalpaper
    username: postgres
    password: admin
    hikari:
      connection-timeout: 20000
      maximum-pool-size: 10

  jpa:
    show-sql: true
    generate-ddl: true
    hibernate:
      ddl-auto: none
    open-in-view: false

  flyway:
    enabled: true
    baseline-on-migrate: true
    validate-on-migrate: true
    locations: classpath:db/migration

springdoc:
  api-docs:
    path: /api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
