server:
  port: ${PORT:8083}
  address: 0.0.0.0
  forward-headers-strategy: framework
spring:
  application:
    name: digital-paper-server-side

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_URL:http://localhost:8080}/realms/${KEYCLOAK_REALM:digitalpaper}
          jwk-set-uri: ${spring.security.oauth2.resourceserver.jwt.issuer-uri}/protocol/openid-connect/certs

  datasource:
    url: jdbc:postgresql://${DATABASE_URL:localhost:5432}/${DATABASE_NAME:digitalpaper}
    username: ${DATABASE_USERNAME:postgres}
    password: ${DATABASE_PASSWORD:admin}
    hikari:
      connection-timeout: 20000
      maximum-pool-size: 10

  jpa:
    show-sql: true
    generate-ddl: true
    hibernate:
      ddl-auto: none
    open-in-view: false

  flyway:
    enabled: true
    baseline-on-migrate: true
    validate-on-migrate: true
    locations: classpath:db/migration

springdoc:
  api-docs:
    path: /api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true

s3:
  config:
    endpoint: ${S3_ENDPOINT:http://127.0.0.1:9000}
    accessKey: ${S3_ACCESS_KEY:minioadmin}
    secretKey: ${S3_SECRET_KEY:minioadmin}
    bucketName: ${S3_BUCKET_NAME:digitalpaper}
    region: ${S3_REGION:}
    usePathStyle: ${S3_USE_PATH_STYLE:}